



h1 {
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin-top: 20px;
}

p {
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    text-align: left;
    margin: 10px 20px;
}