
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #abacf1;
}



h1 {
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 5dvh;
    width: auto;
}


.first_par {
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2dvh;
    text-align: center;
    width: 60%;
    
    margin: 1dvh auto 0; /* 10 sopra, auto dx/sx, 0 sotto. Centro orizzontalmente */
}





table {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: auto;
    table-layout: fixed;
    font-family: 'Public Pixel', sans-serif;
    font-size: 12px;
}

table input[type="number"] {
    width: 70%; /* Forziamo l'input a riempire il 70% della larghezza della cella */
    padding: 3px;
}

th, td {
            width: 25%;
            border: 3px solid #ddd;
            padding: 3px 3px;
            text-align: center;
            
        }


form#user-info-form {
  margin-top: 2vh;
  max-width: 350px;
  width: 100%;
  border: 3px solid #ddd;
  padding: 10px;
  font-family: 'Public Pixel', sans-serif;
  font-size: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
}

form#user-info-form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

form#user-info-form select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 3px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


input:focus, select:focus {
  border-color: #007BFF;
  outline: none;
}



button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: rgb(22, 22, 22);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: block;
    margin: 0 auto;
}

button:hover {
  background-color: #0056b3;
}